CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
/Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# Exe
TgBot++*
libTgBot*.a
libTgBot*.so

# Generated
src/command_modules/cmds.gen.cpp
resources/about.html
__pycache__

# Visual studio code
build/
.vscode/
.cache/
.vs/
CMakeSettings.json
