[submodule "lib"]
	path = lib
	url = https://github.com/roynatech2544/tgbot-cpp
[submodule "src/third-party/dlfcn-win32"]
	path = src/third-party/dlfcn-win32
	url = https://github.com/dlfcn-win32/dlfcn-win32
[submodule "src/third-party/googletest"]
	path = src/third-party/googletest
	url = https://github.com/google/googletest.git
	branch = refs/tags/v1.14.0
[submodule "src/third-party/libgit2"]
	path = src/third-party/libgit2
	url = https://github.com/libgit2/libgit2
[submodule "src/third-party/rapidjson"]
	path = src/third-party/rapidjson
	url = https://github.com/Tencent/rapidjson/
