[submodule "src/third-party/tgbot-cpp"]
	path = src/third-party/tgbot-cpp
	url = https://github.com/Royna2544/tgbot-cpp.git
[submodule "src/third-party/corrosion"]
	path = src/third-party/corrosion
	url = https://github.com/corrosion-rs/corrosion
[submodule "src/third-party/lua"]
	path = src/api/liblua
	url = https://github.com/lua/lua
[submodule "llama.cpp"]
	path = src/command_modules/llm/llama.cpp
	url = https://github.com/ggml-org/llama.cpp
[submodule "src/third-party/stduuid"]
	path = src/third-party/stduuid
	url = https://github.com/mariusbancila/stduuid/
