[submodule "src/third-party/tgbot-cpp"]
	path = src/third-party/tgbot-cpp
	url = https://github.com/roynatech2544/tgbot-cpp.git
[submodule "src/third-party/dlfcn-win32"]
	path = src/third-party/dlfcn-win32
	url = https://github.com/dlfcn-win32/dlfcn-win32.git
[submodule "src/third-party/rapidjson"]
	path = src/third-party/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "src/third-party/corrosion"]
	path = src/third-party/corrosion
	url = https://github.com/corrosion-rs/corrosion
[submodule "src/third-party/cpp-httplib"]
	path = src/third-party/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib
[submodule "clientapp/android/app/src/main/cpp/external/openssl"]
	path = clientapp/android/app/src/main/cpp/external/openssl
	url = https://github.com/openssl/openssl
[submodule "clientapp/android/app/src/main/cpp/abseil-cpp"]
	path = clientapp/android/app/src/main/cpp/external/abseil-cpp
	url = https://github.com/abseil/abseil-cpp/
