CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# Exe
TgBot++*
# Lib
libTgBotDB.a
libTGBotRes.a
libTgBotSocket.a
libTgBotUtils.a
# Cmake generated
modules.load
# Protobuf generated
proto/gen
# Visual studio code
build/
.vscode/
.cache/
