name: Run tg_cpphost

on:
  workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3.5.3

      - name: Set up dependencies
        run: |
          ./scripts/deps.sh

      - name: Build
        run: |
          mkdir build
          cmake -G Ninja -B build -DCMAKE_BUILD_TYPE=Release .
          cmake --build build

      - name: Host
        env:
          TOKEN: ${{ secrets.BOT_TOKEN }}
        run: |
          cd build
          ./tg_cpphost
